<!DOCTYPE html>
<html>
<head>
	<title>Langing page</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
   <!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">

<link href="style.css" rel="stylesheet">

</head>
<body>
	<header>
			{{>header}}
			<!--/.Navbar-->
			<div id="intro" class="view">

    			<div class="mask rgba-black-strong">

      				  <div class="container-fluid d-flex align-items-center justify-content-center h-100">

           				 <div class="row d-flex justify-content-center text-center">

              				  <div class="col-md-10">

                   				 <!-- Heading -->
                    			<h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Travel</h2>

			                    <!-- Divider -->
			                    <hr class="hr-light">

			                    <!-- Description -->
			                    <h4 class="white-text my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti consequuntur.</h4>
			                    <button type="button" class="btn btn-outline-white">Read more<i class="fa fa-book ml-2"></i></button>

			                </div>

			            </div>

			        </div>

			    </div>

</div>

		
	</header>
	<!-- ***************************************************** -->
	<main>
		
			
		
	</main>
	<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>
</body>
</html>